* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.righ,
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.left {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    gap: 10px;
    padding: 4em;
    
}
.para {
    flex-direction: column;
    width: 350px;
    
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
button {
    background-color: #3882f6;
    color: white;
    padding: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    margin-top: 15px;
    border-color: white;
}
.img {
    height: 211px;
    width: 383px;
}
h2 {
    display: flex;
    justify-content: center;
}
.info {
    flex: 1 1 1;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.some {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}
.text {
    /* display: flex; */
    height: 188px;
    width: 188px;
    border: lightblue;
    border-radius: 18px;
}
.txt {
    max-width: 200px ;
}
/* .image {
    display: flex;
} */
.information {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin: 20px;
}
.quote {
    background-color: #E5E7EB;
    font-weight: italic;;
    display: flex;
    padding: 5em;
    margin-top: 50px;
}
.testimonial {
    color: #1F2937;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 36px;
    flex-wrap: wrap;
    flex-basis: 1 1 1;
    /* width: 900px; */
}
.author {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}
.action {
    background-color: #3882f6;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin:200px;
    padding: 20px;
    gap: 100px;
    flex: 1;
    
}
.sign {
    justify-content: flex-end;
}
.action-time {
    font-weight: bold;
    font-size: 20px;
}
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}